
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-2">        
        
    </div>
    <div class="col-md-">
        <h2>General Considerations</h2>               
        <p>1. The test file path can be modified through Web.config file </p>
        <p>2. Default test file path is: BairesDev.Web\\test </p>
        <p>3. Default search parameters are: Title: manager, director and Industry: software, technology. This values can be modified from Web.config to initial search</p>
        <p>4. The parameters text boxes admited more that one word to filter separate by comma. Example: Industry: Computer Software </p>
        <p>5. The parameters text boxes don't allow puntuaction marks, only words. </p>
        <p>6. Each line on grid have a 'Details' link where the user can see complete information from file. </p>
        <p>7. The applications was created using: MVC5, .NET Framework 4.5.2 and builded on VS2015 </p>
        <p>8. Click on 'Linked Profile' menu to start using application </p>
        <p>9. To load profile file again click on 'Linked Profile' </p>

        <h2>Future Work</h2>
        <p>1. Implement 'Send' button to send selected profiles to email marketing campaign </p>
        <p>2. The profile search can be improved taking advantage of third-party libraries to create dynamic querys. 
        For example: <a href="https://weblogs.asp.net/scottgu/dynamic-linq-part-1-using-the-linq-dynamic-query-library">Dinamic Linq Query</a>  </p>
        <p>3. Implement FileDialog to load files dynamically </p>
        <p>4. Improve filters boxes to be multiple select based on data loaded on file. </p>
        <p></p>
    </div>
</div>